
# PyCharm files
.idea/

# Byte-compiled files
__pycache__/

# Sphinx docs
docs/build/

# Distribution / packaging
/dist/
*.egg-info/

# Tests / coverage
.pytest_cache
.coverage
/htmlcov/

# Notes to self
_TODO.txt

# uv virtual environment
.venv/

# uv lockfile not needed for a library
uv.lock